.outer {
  position: relative;
  z-index: 11;
  background-color: #000;
  overflow: hidden;
  min-height: 100vh;
  color: #fff;
  padding-bottom: 8rem;
}

.section-title .big-title {
  color: #313a43;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

.section-title .main-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  display: table;
  position: relative;
  margin: 0 auto;
  top: -64px;
}

.section-title .main-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 5px;
  background-color: #ed1c24;
  top: 50%;
  margin-top: -3px;
  left: -25px;
}

.section-title .main-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 5px;
  background-color: #ed1c24;
  top: 50%;
  margin-top: -3px;
  right: -25px;
}

.profile__content {
  float: left;
  margin-left: 5%;
}

.profile__content .text-big {
  color: #767777;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}

.col-md-3 {
  width: 33%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.row img {
  color: #777;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  width: 200px;
}

.row h3 {
  font-size: 18px;
  color: #d7dce1;
  line-height: 25px;
  text-align: center;
  position: relative;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.row .studying {
  color: #ed1c24;
}
.row .good {
  color: #fffa0c;
}

.content__about--main {
  overflow: hidden;
  width: 100%;
  margin-left: 10%;
  margin-bottom: 40px;
}

.content__about--icon {
  overflow: hidden;
  width: 100%;
}

.content__image {
  float: left;
}

.profile__photo {
  border-radius: 50%;
}
