.header {
  width: 100%;
  padding-left: 20px;
  max-width: 1480px;
  height: 70px;
  position: fixed;
  z-index: 16;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-left: 70px;
}

.header__light {
  background-color: #fff;
}

.header__light .header__home a {
  color: #000;
}

.header__dark {
  background-color: #000;
}

.header__dark .header__home a {
  color: #555;
  transition: color 0.5s;
}

.header__dark .header__home a:hover,
.header__dark .header__home a:active {
  color: #fff;
}

.header a {
  position: relative;
  font-size: 150%;
}

body a {
  color: #111;
}

.header__home {
  float: left;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(33.33333333% - 40px);
  line-height: 70px;
}

@media (max-width: 599px) {
  .header {
    width: 100%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    padding-left: 15px;
    margin-left: 0;
  }

  .header__home {
    line-height: normal;
    margin-top: 20px;
    margin-left: 5px;
  }
}
