.header {
  width: calc(100% - 70px);
  transform: translateX(70px);
  padding-left: 20px;
  max-width: 1480px;
  height: 70px;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow: hidden;
}

.header a {
  position: relative;
  font-size: 150%;
}

body a {
  color: #111
}

.header__home {
  float: left;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(33.33333333% - 40px);
  line-height: 70px;
}
