.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  min-height: 70px;
  height: 100vh;
  margin-left: 0;
  background-color: #000;
  z-index: 16;
}

.navBar .navBar__button a {
  color: #555;
  background-color: #000;
  border: none;
  transform: rotate(-90deg);
  margin-top: 100px;
  font-size: 100%;
  cursor: pointer;
  display: inline-block;
  transition: color 0.5s;
}

.navBar a:hover,
.navBar a:checked {
  color: #fff;
}

.navBar .navBar__button a.btn__work {
  padding-top: 6px;
}

.navBar .navBar__button a.btn__skill {
  padding-top: 11px;
}

.navBar .navBar__contact {
  margin-top: 400px;
}
