.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  min-height: 70px;
  height: 100vh;
  margin-left: 0;
  background-color: #000;
  z-index: 16;
}

.navBar .navBar__button a {
  color: #555;
  background-color: #000;
  border: none;
  transform: rotate(-90deg);
  margin-top: 100px;
  font-size: 100%;
  cursor: pointer;
  display: inline-block;
  transition: color 0.5s;
}

.navBar a:hover,
.navBar a:checked {
  color: #FFF;
}

.navBar .navBar__button a.btn__work {
  padding-top: 6px;
}

.navBar .navBar__button a.btn__skill {
  padding-top: 11px;
}

.navBar .navBar__contact {
  margin-top: 400px;
}

.navBar .social__links {
  list-style: none;
  padding-left: 0px;
}

.navBar ul li {
  margin-bottom: 25px;
}

.navBar ul li a:link,
.navBar ul li a:visited {
  transition: color 0.5s;
  color: #555;
}

.navBar ul li a:hover,
.navBar ul li a:active {
  color: #FFF;
}

.navBar ul li .icon-mail,
.navBar ul li .icon-twitter-3,
.navBar ul li .icon-facebook,
.navBar ul li .icon-github-01 {
  font-size: 22px;
  padding-left: 24px;
}

.navBar ul li .icon-github-01 {
  padding-left: 20px;
  font-size: 30px;
}