.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  min-height: 70px;
  height: 100vh;
  margin-left: 0;
  background-color: #000;
  z-index: 16;
}

.navBar .navBar__button a {
  color: #555;
  background-color: #000;
  border: none;
  transform: rotate(-90deg);
  margin-top: 100px;
  font-size: 100%;
  cursor: pointer;
  display: inline-block;
  transition: color 0.5s;
}

.navBar a:hover,
.navBar a:checked {
  color: #fff;
}

.navBar .navBar__button a.btn__work {
  padding-top: 6px;
}

.navBar .navBar__button a.btn__skill {
  padding-top: 11px;
}

.navBar .navBar__contact {
  margin-top: 400px;
}

.navBar a.active {
  color: #fff;
  pointer-events: none;
}

@media (max-width: 599px) {
  .navBar {
    position: absolute;
    height: auto;
    left: auto;
    right: 0;
    background: transparent;
    width: 50%;
    padding-left: 10px;
    padding-right: 20px;
  }

  .navBar .navBar__button {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-end;
  }

  .navBar .navBar__button a {
    transform: none;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 5px;
  }

  .navBar .nav__light a {
    background-color: #fff;
    color: #111;
  }

  .navBar .navBar__button a.btn__work {
    padding-top: 0px;
  }

  .navBar .navBar__button a.btn__skill {
    padding-top: 0px;
  }
}
