.ticket {
  padding-right: 40px;
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fffa0c;
  width: 100%;
  max-width: 1480px;
  padding-left: 40px;
  display: block;
  transform: translateY(0);
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.8;
  font-size: 150%;
}
